:root {
    --primary-color: #34373f;
    --secondary-color: #98d6d6;
    --accent-color: #f5f5f5;
    --back-color: #91cacb;
    --h3-color: #465874;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    background-color: #ededf5;
}

/* Main Logo / Nav */


/* Hero Banner */


/* Main / Section */


/* About me */


/* Portfolio Container */


/* Contact */


/* Media Queries*/
@media screen and (max-width: 1024px) {


}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 575px) {

}

@media screen and (max-width: 480px) {

}